@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: rgba(26,27,30,255);
    --glowColor: rgba(111, 50, 255, 0.685);
    --fontColor: white;
    --textColor: gray;
    --boxColor: rgba(0, 0, 0, 0.212);
}

::-webkit-scrollbar {
    width: 6px;
    height: 12px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(177, 10, 177), rgb(130, 34, 255));
    border-radius: 10px;
}

body {
    background: var(--bgColor);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#mainArea {
    width: 100%;
    height: 100%;
    display: block;
}

.navbar {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 2;
    background: rgba(0, 0, 0, 0.103);
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.116);
    top: 0;
    font-family: 'Poppins', sans-serif;
}

.navItems {
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--textColor);
    font-size: 1.1rem;
    &:nth-child(1) {
        width: 30%;
        color: var(--fontColor);
        font-weight: bold;
    }&:nth-child(n + 2):nth-child(-n+5) {
        width: 10%;
        &:hover {
            color:var(--fontColor);
            cursor:pointer;
        }
    }&:nth-child(6) {
        width: 30%;
        color: var(--fontColor);
        cursor: pointer;
    }
}

#typingX, #typingY {
    font-weight: 600;
    background: linear-gradient(45deg, #6730ff, #8fcefd);
    -webkit-background-text: clip;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#socialBtn {
    width: 50%;
    height: 50%;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, rgb(202, 3, 252), rgba(0, 0, 0, 0));
    border-right: none;
    outline: none;
    font-weight: bold;
    background: linear-gradient(45deg, rgba(150, 70, 255, 0.205), rgba(0, 0, 0, 0));
    border-image-slice: 1;
    color: var(--fontColor);
    letter-spacing: 1.5px;
    font-size: 1rem;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

a {
    all: unset;
}

@media only screen and() {}