<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../css/home.css">
    <link rel = "stylesheet" href = "../css/style.css">
    <link rel = "stylesheet" href = "../css/animations.css">
    <link rel = "stylesheet" href = "../css/highlight.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://kit.fontawesome.com/4ef9093d57.js" crossorigin="anonymous"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@google/model-viewer"></script>
    <title>Code Builders - Web Development service</title>
</head>
<body>
    <div class="mainArea">
        <div id="popup" class="socialMedia">
            <div class="socialMediaBox">
                <div class="socialMediaItems">
                    <i class = "fa fa-xmark" onclick = "closePopUp()"></i>
                </div>
                <div class="socialMediaItems">
                    <h1>Social Media</h1>
                </div>
                <div class="socialMediaItems">
                    <div class="socialItems">
                        <p>
                           <i class="fa-brands fa-github"></i>
                        </p>
                    </div>
                    <div class="socialItems">
                        <p>
                           <i class="fa-brands fa-instagram"></i>
                        </p>
                    </div>
                    <div class="socialItems">
                        <p>
                           <i class="fa-brands fa-discord"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class = "navbar">
            <div class="navItems">Code Builders</div>
            <div class="navItems"><a href = "#worksBox">Works</a></div>
            <div class="navItems"><a href = "#statsBox">Stats</a></div>
            <div class="navItems"><a href = "#teamBox">Team</a></div>
            <div class="navItems"><a href = "#infoBox">Order</a></div>
            <div class="navItems"><button onclick = "popUp();" id = "socialBtn">Social</button></div>
        </div>
        <div id="mainBox">
            <div class="parentBox">
                <div class="childBox">
                    <div class="titleBox">
                        <h1>CodeBuilders - Official Website</h1>
                    </div>
                    <div class="textBox">
                        <p>We are a team of experts dedicated to creating innovative and functional websites. Our mission is to transform your ideas into digital reality, using the latest technologies and user-focused design. Whether it's a business website, e-commerce solution, or web application, we provide flawless solutions tailored to your needs.With us, your online success is guaranteed!!</p>
                    </div>
                    <div class="btnsBox">
                        <button id = "projectsBtn">Works</button>
                        <button id = "orderBtn">Order</button>
                    </div>
                </div>
                <div class="childBox">
                    <model-viewer 
                        src="../brain.glb" 
                        alt="A 3D model" 
                        auto-rotate 
                        camera-controls 
                        disable-zoom 
                        interaction-prompt="none"
                        auto-rotate-speed= 100
                        style="width: 100%; height: 100%;">
                    </model-viewer>
                </div>
                <div class="childBox">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class = "titleArea">
            <h1>Welcome to area of <b id = "typingX">CodeBuilders</b>.</h1>
          </div>
        <div id="contentBox">
            <div class="contentChild">
                <div class="contentTitle">
                    Why choose <b>CodeBuilders</b>?
                </div>
                <div class="contentText">
                    <b>Speed:</b> We deliver fast and efficient solutions, ensuring your project is completed on time without compromising quality.
                    <br><br><br>
                    <b>Skills:</b> Our team consists of highly skilled professionals with expertise in the latest web technologies, ensuring top-notch results.
                    <br><br><br>
                    <b>Modern Style: </b>We stay up to date with the latest design trends and best practices, creating websites that are both visually appealing and user-friendly.
                    <br><br><br>
                    <b>Tailored Solutions:</b> We understand your unique needs and create custom solutions that perfectly match your business goals.
                </div>
            </div>
            <div class="contentChild">
                <div>
                    <div>
                        <h1>Speed</h1>
                        <p>We prioritize efficiency and timely delivery, ensuring that your website is up and running quickly without sacrificing quality. Our streamlined processes and agile methodology allow us to meet tight deadlines and exceed client expectations. Whether it's a simple site or a complex web application, we ensure rapid development without compromising on precision.
                    </div>
                </div>
                <div>
                    <div>
                        <h1>Skills</h1>
                        <p>Our team is made up of experienced developers and designers proficient in a wide range of modern web technologies, including HTML5, CSS3, JavaScript (React, Vue.js), and backend solutions like Node.js and PHP. We ensure that your website is built to perform at its best, providing a secure, fast, and scalable solution. We also specialize in creating custom CMS platforms, e-commerce solutions, and web applications tailored to your needs.</p>
                    </div>
                </div>
                <div>
                    <div>
                        <h1>Modern</h1>
                        <p>Our team specializes in the latest web technologies, including HTML5, CSS3, JavaScript, React, Vue.js, and Electron for building responsive and interactive user interfaces. On the backend, we focus on Node.js, Python (Flask), and Golang for fast, secure, and scalable applications. We also create stunning 3D web experiences using Three.js, bringing interactive designs to life. While PHP is part of our toolkit, our main focus is on modern, high-performance solutions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class = "titleArea">
            <h1>Welcome to area of <b id = "typingX">Informations</b>.</h1>
          </div>
        <div id="infoBox">
            <div class="infoChild">
                <div class = "codeBox">
                    <div>
                      <i class="fa-brands fa-python"></i>
                      <p>skills.py</p>
                    </div>
                    <pre>
<b>import</b> os

skills = [<b>'python'</b>, <b>'javascript'</b>', <b>'html'</b>, <b>'css'</b>, <b>'react.js'</b>, <b>'flask'</b>]

<b>class</b> <b>Main</b>:
    <b>@staticmethod</b>
    <b>def</b> <b>main_function</b>(x: <b>str</b>) -> <b>None</b>:
        <b>if</b>(os.name == <b>'nt'</b>):
            os.system(<b>'cls</b>)
        <b>else</b>:
            os.system(<b>clear</b>)
    
        skills.append(x)

        <b>print</b>(<b>'Skills -> </b><b>\n</b><b>'</b>)

        <b>for</b> skill <b>in</b> skills:
            <b>print</b>(skill)

<b>if</b>(__name__ == <b>'__main__'</b>):
    Main.main_function(<b>'three.js'</b>)
            </pre>
                </div>
            </div>
            <div class="infoChild">
                <div class="contentTitle">
                    What does <b>CodeBuilders</b> use ?
                </div>
                <div class="contentText">
                    At CodeBuilders, we specialize in creating robust web solutions using the latest technologies. Our team excels in Python, GoLang, and Flask for building scalable and secure backend systems, while JavaScript, React.JS, and CSS allow us to craft dynamic, user-friendly frontends. We also utilize HTML, C/C++, and Socket.IO to ensure performance and real-time communication across applications.
                    <br><br><br>
                    In addition, we bring interactive 3D web experiences to life using Three.JS and build cross-platform desktop apps with Electron.JS. For data management, we use MongoDB to ensure flexibility and scalability. At CodeBuilders, we focus on using the best tools—JSON for smooth data exchange—to deliver high-quality solutions tailored to your needs.
                </div>
            </div>
            <div class="infoChild">
                <div class="langItems">
                    <i class="fa-brands fa-python"></i>
                    <b>Python</b>
                </div>
                <div class="langItems">
                    <i class="fa-brands fa-js"></i>
                    <b>JavaScript</b>
                </div>
                <div class="langItems">
                    <i class="fa-brands fa-css3-alt"></i>
                    <b>CSS</b>
                </div>
                <div class="langItems">
                    <i class="fa-brands fa-react"></i>
                    <b>React.JS</b>
                </div>
                <div class="langItems">
                    <i class="fa-solid fa-pepper-hot"></i>
                    <b>Flask</b>
                </div>
                <div class="langItems">
                    <i class="fa-brands fa-golang"></i>
                    <b>GoLang</b>
                </div>
                <div class="langItems">
                    <i class="fa-brands fa-html5"></i>
                    <b>HTML</b>
                </div>
                <div class="langItems">
                    <i class="fa-solid fa-c"></i>
                    <b>C/C++</b>
                </div>
                <div class="langItems">
                    <i class="fa-solid fa-cubes"></i>
                    <b>Three.JS</b>
                </div>
                <div class="langItems">
                    <i class="fa-solid fa-rocket"></i>
                    <b>Socket.IO</b>
                </div>
                <div class="langItems">
                    <i class="fa-solid fa-file-code"></i>
                    <b>JSON</b>
                </div>
                <div class="langItems">
                    <i class="fa-solid fa-atom"></i>
                    <b>Electron.JS</b>
                </div>
                </div>
            </div>
        </div>
        <div class = "titleArea">
            <h1>Welcome to area of <b id = "typingX">Projects</b>.</h1>
          </div>
        <div id="worksBox">
            <div class="worksItems">
                <div class="contentTitle">
                    Projects from <b>CodeBuilders</b> ?
                </div>
                <div class="contentText">
                    At CodeBuilders, we specialize in delivering custom web solutions that meet our clients' unique needs. From corporate websites to e-commerce platforms and web applications, we focus on creating user-friendly, high-quality projects that drive business success. We work closely with clients to ensure each project is executed with precision and creativity.
                    <br><br>
                    We also create innovative projects, such as interactive 3D experiences with Three.JS and real-time applications using Socket.IO. Whether it's building cross-platform desktop apps with Electron.JS or using cutting-edge technologies, we ensure every project is functional, future-proof, and ready to adapt to evolving digital challenges.
                    <br><br>
                    <button class = "moreBtn" id = "projectsBtn">More</button>
                </div>
            </div>
            <div class="worksItems">
                <div class="worksToolBox">
                    <div>
                        <div id = "chtml">
                            <i class="fa-brands fa-html5"></i>
                        </div>
                        <div>
                            <div>
                                <div id = "py"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id = "cr">
                            <i class="fa-brands fa-react"></i>
                        </div>
                        <div>
                            <div>
                                <div id = "react"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id = "cjs">
                            <i class="fa-brands fa-js"></i>
                        </div>
                        <div>
                            <div>
                                <div id = "js"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="worksItems">
                <div class="projectsItems">
                    <div>
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div>
                        <div class="worksContent">
                            <h1>ugrijaniStr - Portfolio</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veritatis ipsum at cum esse illum!</p>
                        </div>
                        <div class="worksDate">
                            <div id = "green">12.3.2023.</div>
                        </div>
                    </div>
                </div>
                <div class="projectsItems">
                    <div>
                        <i class="fa-solid fa-bolt"></i>
                    </div>
                    <div>
                        <div class="worksContent">
                            <h1>k4jm4k - dashboard</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veritatis ipsum at cum esse illum!</p>
                        </div>
                        <div class="worksDate">
                            <div id = "yellow">1.5.2022.</div>
                        </div>
                    </div>
                </div>
                <div class="projectsItems">
                    <div>
                        <i class="fa-solid fa-fire-flame-curved"></i>
                    </div>
                    <div>
                        <div class="worksContent">
                            <h1>Beuty Salon</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veritatis ipsum at cum esse illum!</p>
                        </div>
                        <div class="worksDate">
                            <div id = "red">10.8.2025.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "titleArea">
            <h1>Welcome to area of <b id = "typingX">Analytics</b>.</h1>
          </div>
        <div id="statsBox">
            <div class="statsItems">
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
            <div class="statsItems">
                <div class = "statsText">
                    <div class="statsItemsInfo">
                        <div class="contentTitle">
                            Analytics of <b>CodeBuilders</b> ?
                        </div>
                        <div class="contentText">
                            As a relatively new agency, we're proud to say that all of our clients so far have been satisfied with our work. Every project we've taken on has received positive feedback, as we focus on delivering high-quality and precise results.
                            <br><br>
                            We're excited for future projects and continued growth. Although we're just starting out, our commitment to client satisfaction and quality remains our top priority, and we look forward to new challenges and successful collaborations.
                        </div>
                    </div>
                </div>
                <div class = "statsNumbers">

                </div>
            </div>
        </div>
        <div class = "titleArea">
            <h1>Welcome to area of <b id = "typingX">Staff</b>.</h1>
          </div>
        <div id="teamBox">
            <div class="teamItems">
                <div class="teamItemsText">
                    <div class="contentTitle">
                        Staff team of <b>CodeBuilders</b> ?
                    </div>
                    <div class="contentText">
                        At CodeBuilders, we have a skilled, friendly, and efficient team with strong programming knowledge. Our staff stays up-to-date with the latest technologies to deliver the best results for our clients, combining technical expertise with creativity.
                        <br><br>
                        We value collaboration and quick problem-solving, allowing us to deliver high-quality work on time. Whether it's backend, frontend, or 3D web experiences, our team is ready to tackle any challenge.
                    </div>
                </div>
                <div class="teamItemsInfo">
                    <div class = "staffRanksContent">
                        <h1>Staff team ranks</h1>
                        <p>You can see all the ranks in our staff here.</p>
                    </div>
                    <div class = "staffRanksBox">
                        <div class = "staffRanks">
                            <div><i class="fa-solid fa-user-tie"></i></div>
                            <div>Manager</div>
                        </div>
                        <div class = "staffRanks">
                            <div><i class="fa-solid fa-code"></i></div>
                            <div>Developer</div>
                        </div>
                        <div class = "staffRanks">
                            <div><i class="fa-solid fa-lightbulb"></i></div>
                            <div>Marketing</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teamItems">
                <div>
                    <div>
                        <i class="fa-solid fa-user-tie"></i>
                    </div>
                    <div>
                        <h1>Manager - Rank</h1>
                        <p>Managers ensure smooth project execution by overseeing team coordination and maintaining clear communication with clients. They handle project timelines, ensuring that every deliverable meets high standards. With strong leadership and strategic planning skills, they keep the team on track and adapt to new challenges, ensuring client satisfaction.</p>
                    </div>
                </div>
                <div>
                    <div>
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div>
                        <h1>Developer - Rank</h1>
                        <p>Developers are the technical foundation of CodeBuilders, with expertise in Node.js, Python, React, and more. They design and build innovative, high-performance solutions for both frontend and backend, ensuring seamless functionality. Their focus is on delivering powerful, scalable applications while constantly pushing the limits of what’s possible.</p>
                    </div>
                </div>
                <div>
                    <div>
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                    <div>
                        <h1>Marketing - Rank</h1>
                        <p>The Marketing team is responsible for building and promoting the CodeBuilders brand and client projects. They craft digital strategies, execute SEO tactics, and manage social media to ensure high visibility and lead generation. Their goal is to create impactful campaigns that reach and engage the right audience, driving growth and brand awareness.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class = "titleArea">
            <h1>Welcome to area of <b id = "typingX">Contact</b>.</h1>
          </div>
        <div id = "contactBox">
            <div class="contactBoxes">
                <div class="contactChild">
                    <div class="contentTitle">
                        How to get website from <b>CodeBuilders</b> ?
                    </div>
                    <div class="contentText">
                        <b style = "color: white;">Ready to take your business online and stand out? Book your custom website today and watch your brand grow!</b>
                        <br><br>
                        At CodeBuilders, we don’t just create websites – we craft digital experiences tailored to your business needs. Our team of experts specializes in building fast, secure, and modern websites using the latest technologies like React, Node.js, and Flask. We ensure that your site isn’t just functional, but also visually appealing and user-friendly, providing an experience that keeps visitors engaged.
                        <br><br>
                        We understand the importance of a strong online presence, and that's why we focus on delivering custom solutions that reflect your brand's identity. Whether you need a business website, e-commerce platform, or web application, we work closely with you to bring your vision to life. With our expertise in modern design and development, we guarantee that your website will not only look great but also perform seamlessly across all devices.
                        <br><br>
                        Let CodeBuilders help you take your business to the next level with a website designed for success!
                    </div>
                </div>
                <div class="contactChild">
                    <div class="contactForm">
                        <h1>Order Form</h1>
                        <input type="text" placeholder = "John Doe">
                        <input type="email" placeholder = "example@gmail.com">
                        <input type="number" placeholder = "+385 989 23 8909">
                        <textarea placeholder = "I need website with..."></textarea>
                        <button>Submit</button>
                    </div>
                </div>
            </div>
            <div class="contactBoxes">
                <div class="contactItems">
                    <i class="fa-brands fa-discord"></i>
                </div>
                <div class="contactItems">
                    <i class="fa-brands fa-telegram"></i>
                </div>
                <div class="contactItems">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="contactItems">
                    <i class="fa-brands fa-tiktok"></i>
                </div>
                <div class="contactItems">
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </div>
        </div>
        <div class = "footerBox">
            <footer>
                © 2025 CodeBuilders. All Rights Reserved. | Designed with passion, built for success.
            </footer>
        </div>
    </div>
    <script src = "../script.js"></script>
</body>
</html>
